extends layout

block content
    h3 #{title}
    ul.list-group
        each article, i in articles
            li.list-group-item
                div
                    a(href="/articles/"+article._id)=article.title
                a(href="/users/"+article.author) #{article.author}
                span  | 
                span #{article.totalComments} Comments